cachetools==4.2.0
cmake==3.18.4.post1
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
dlib==19.21.1
filetype==1.0.7
Keras==2.4.3
loguru==0.5.3
matplotlib==3.3.3
numba==0.52.0
numpy==1.20.1
opencv-contrib-python==4.5.1.48
opencv-python==4.4.0.46
pandas==1.2.0
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.1
sklearn==0.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
virtualenv==20.4.0
